<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_player.css">
    <title>Comparison</title>
  </head>
  <body>
    {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kuldeep Yadav</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    {{!-- dropdowns --}}
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Deepak Chahar
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Deepak Chahar.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Deepak Chahar.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Jasprit Bumrah
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Jasprit Bumrah.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Jasprit Bumrah.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Arshdeep Singh
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Arshdeep Singh.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Arshdeep Singh.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Mohammad Siraj
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Mohammad Siraj.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Mohammad Siraj.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs R Ashwin
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs R Ashwin.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs R Ashwin.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Shardul Thakur
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Shardul Thakur.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Shardul Thakur.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Umesh Yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Umesh Yadav.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Umesh Yadav.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav vs Y chahal
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers/Kuldeep Yadav vs Y chahal.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comparision indian bowlers bar/Kuldeep Yadav vs Y chahal.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>