<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_player.css">
    <title>Comparison</title>
  </head>
  <body>
    {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Virat Kohli</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    {{!-- dropdowns --}}
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Rohit Sharma
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Rohit Sharma.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Rohit Sharma.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Ishan Kishan
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Ishan Kishan.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Ishan Kishan.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs KL Rahul
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs KL Rahul.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs KL Rahul.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Rishabh Pant
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Rishabh Pant.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Rishabh Pant.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Ruturaj Gaikwad
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Ruturaj Gaikwad.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Ruturaj Gaikwad.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Sanju Samson
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Sanju Samson.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Sanju Samson.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Shikhar Dhawan
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Shikhar Dhawan.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Shikhar Dhawan.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
           Virat Kohli vs Shreyas Iyer
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Shreyas Iyer.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Shreyas Iyer.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Shubhman Gill
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Shubhman Gill.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Shubhman Gill.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary  w-100 dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli vs Suryakumar Yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/sujit_data/Comparison Between Indian Batsman plots/Virat Kohli vs Suryakumar Yadav.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="../static/sujit_data/comaprision indian batsmen bar/Virat Kohli vs Suryakumar Yadav.png" class="img-fluid shine_c rounded border border-dark border-2" alt="">
                </div>
            </div>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>