<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Player Info</title>
  </head>
  <body>
    {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Players Info</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Virat Kohli
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4"></p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ishan Kishan
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In February 2021, Ishan was named in India's Twenty20 International (T20I) squad for their home series against England. It was his maiden international call-up and he went on to make his debut on 14 March 2021, scoring 56 from 32 balls. He won the player of the match award.

In June 2021, he was named in India's One Day International (ODI) and T20I squads for their tour of Sri Lanka. He made his ODI debut on the tour in July, scoring 59 from 42 balls. In September he was named in India's squad for the 2021 ICC Men's T20 World Cup.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            KL Rahul
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">KL Rahul is an opening right-handed batter who occasionally keep wickets in the shorter format of the game. Rahul also plays in the middle order in the ODI format, he is also termed as the go-to wicketkeeper in the format on several occasions. Cricket pundits and media often criticize him for his inconsistency in run scoring. In the longer format he is known for his techniques and application that has earned him success in both home and away conditions. In T20s Rahul is known for his attacking approach in the IPL which is contrasting to his careful approach at the international level that has lead to his criticism on many occasions.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Rishabh Pant
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">The 2019–20 home season was billed as an important season for Pant with MS Dhoni announcing a hiatus from international cricket. India went into the season in search of a new wicket-keeping mainstay with Pant as one of the front-runners.However, ordinary performances from the left-hander and the emergence of KL Rahul as a wicket-keeping option meant that Pant slipped down the pecking order.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Rohit Sharma
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Sharma is an aggressive batsman but plays with style and elegance. He is usually an opening batsman in limited overs cricket, but has played most of his Test cricket as a middle-order batsman. In limited overs cricket, Sharma is widely recognised as one of the format's most outstanding batsmen. And for his attacking batting and six hitting abilities he often referred as Hitman.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ruturaj Gaikwad
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In June 2021, Gaikwad was named in India's One Day International (ODI) and Twenty20 International (T20I) squads for their series against Sri Lanka. He made his T20I debut on 28 July 2021, for India against Sri Lanka. In December 2021, Gaikwad was named in India's ODI squad for their series against South Africa. In January 2022, Gaikwad was again named in India's ODI squad, this time for their home series against the West Indies. In June 2022, he scored his maiden T20I half-century against South Africa.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sanju Samson
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Sanju is a naturally aggressive and elegant batsman who is hailed as a natural talent with quality batting techniques and wicket-keeping skills. He holds the bat high on the handle and keeps a loose shoulder, and is equipped with fast hands, powerful forearms and excellent hand-eye coordination. He is considered an excellent timer of the ball who mostly sticks to his range between cover and fine-leg. He prefers to stay still at the crease and rarely moves down the track to play shots. He has the ability to play straight and prefers to hit straight over the bowler's head. He can play aerial shots without moving his head</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Shikhar Dhawan
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">The Indian team then went to the West Indies for a triangular series against West Indies and Sri Lanka. Dhawan scored 135 runs in five games at an average of 27. His only half-century in the series came against West Indies at Port of Spain where he made 69 off 77 balls. India won the series by beating Sri Lanka in the final in which he scored 16. In July–August, India toured Zimbabwe for five ODIs, resting several first-choice players, under the captaincy of Virat Kohli. Dhawan scored a total of 209 runs in four matches at an average of 52.25 and finished as the leading run-getter of the series, while India won the series 5–0. In the second match at Harare, he scored his third ODI century. He was awarded the man of the match for his innings of 116 which helped India post 294/8 after being 65/4 in the 17th over.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Shreyas Iyer
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In March 2017, Iyer was added to India's Test squad as cover for Virat Kohli, ahead of the fourth Test against Australia. He came on as a substitute fielder in the fourth test and ran out Steve O'Keefe for 8.[32]

In October 2017, Iyer was named in India's Twenty20 International (T20I) squad for their series against New Zealand.[33] He made his T20I debut for India against New Zealand on 1 November 2017, but he did not bat.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Shubman Gill 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In February 2017, he was part of the Indian U-19 where he played a key role in the team's series win against England U-19, [45][46] In December 2017, he was named vice captain of India's squad for the 2018 Under-19 Cricket World Cup.[47][48] He had a successful tournament, leading the team in runs scored with 372 runs and was also named the player of the tournament.[49] [50] Following India's matches in the tournament, the International Cricket Council (ICC) named Gill as the rising star of the squad.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Suryakumar Yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In February 2021, he was named in India's Twenty20 International (T20I) squad for their series against England.[23] It was his maiden international call-up to the India cricket team.[24] He made his T20I debut for India on 14 March 2021, against England.[25] He then played the fourth game of the series on 18 March and got his first opportunity to bat, and hit the first ball he faced in international cricket for a six, becoming the first Indian to do so in T20 International, and went on to score a half-century</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Axar Patel
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">After excellent performance in the 2014 IPL, Patel was rewarded with a place in the Indian ODI squad for the tour to Bangladesh[18] and made his ODI debut in the first match of series at Sher-e-Bangla National Stadium and took 1/59 runs. He was part of India's 15-man squad for the 2015 Cricket World Cup.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Hardik Pandya
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Pandya made his One Day International (ODI) debut for India against New Zealand on 16 October 2016 at Dharamshala. He became the fourth Indian to be named player of the match on ODI debut after Sandeep Patil, Mohit Sharma and K. L. Rahul.[23] In his first ODI innings as a batsman, he scored 36 runs from 32 balls</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ravindra Jadeja
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Jadeja caught the attention of the national selectors with his strong all-round showing in the 2008–09 Ranji Trophy – 42 wickets and 739 runs – and was picked for the ODI series in Sri Lanka. His international debut came in the final match of the series on 8 February 2009 where he scored 60*, although India lost the match.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Washington Sundar
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In November 2017, he was named in India's Twenty20 International (T20I) squad for their series against Sri Lanka.[19] Early the following month, he was also added to India's One Day International (ODI) squad for the same series, after Kedar Jadhav injured his hamstring.[20] He made his ODI debut for India against Sri Lanka on 13 December 2017.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Arshdeep Singh
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In June 2022, Singh was named in India's One Day International (ODI) and T20I squads for their tour of England.[22] In July 2022, he was again named in India's ODI squad, this time for their away series against the West Indies.[23] He made his T20I debut on 7 July 2022, playing against England at Southampton, taking the final two England wickets and bowling a rare maiden over on debut</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Deepak Chahar
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In May 2018, Chahar was named in India's Twenty20 International (T20I) squad for the team's tour of England.[14] He made his T20I debut on 8 July 2018,[15] taking one wicket.[16] He made his One Day International debut against Afghanistan in September 2018 during the 2018 Asia Cup</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Jasprit Bumrah
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In the two matches, T20I series against West Indies in August 2016, he became the bowler to claim most wickets (28) in Twenty20 Internationals in one calendar year surpassing the record of Dirk Nannes.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Kuldeep Yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Yadav was selected in the Indian cricket team to play against West Indies in October 2014 but did not appear in any match.[11] In February 2017, he was added to India's Test squad for their one-off match against Bangladesh.[12] He made his Test debut for India against Australia on 25 March 2017, at the Dharamshala Cricket Stadium, taking four wickets in the first innings</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Mohammed Siraj
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In October 2017, he was named in India's Twenty20 International (T20I) squad for their series against New Zealand.[15] He made his T20I debut for India against New Zealand on 4 November 2017, taking the wicket of Kane Williamson, finishing with figures of 1 wicket for 53 runs from four overs.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ravichandran Ashwin
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">Ashwin produces several variations of the ball and flights the ball, thereby giving it more chance to spin and dip on the batsman. In addition to his normal off-breaks, he produces an arm ball and the carrom ball, the latter of which he uses frequently in the shorter formats. In IPL 2013, he bowled leg-breaks and googly as well.[82] However, in an interview, he has stated that he refrains from bowling the doosra as it requires him to bend and straighten his arm which he finds difficult to do</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Shardul Thakur
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">He was named in India's 16-man squad for India's Test tour of West Indies in 2016, but he did not play.[9] In August 2017, he was named in India's limited-overs squad for the series against Sri Lanka.[10] He made his One Day International (ODI) debut on 31 August 2017 against Sri Lanka</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Umesh Yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">In May 2010, Yadav was called into India's squad for the World Twenty20 in place of the injured Praveen Kumar,[27] but did not go on to play in the tournament. Later that month, he was included in the squad to play a tri-nation ODI series in Zimbabwe against the hosts and Sri Lanka. India sent an under-strength squad with nine first-choice players either rested or injured.[28] Yadav made his ODI debut in the tournament during India's loss to Zimbabwe, a team ranked tenth by the ICC at the time. Defending a score of 285, Yadav bowled eight wicketless overs while conceding 48 runs.[29][30][31] Playing in three matches, Yadav took a single wicket.</p>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Yuzvendra Chahal
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <h5 class="ms-2">About</h5>
            <p class="ms-4">He was named in the 14-man squad to tour Zimbabwe in 2016. He made his One Day International (ODI) debut against Zimbabwe at Harare Sports Club on 11 June 2016, Richmond Mutumbami was his first wicket in ODIs</p>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>